@media(min-width: 1024px){

/* NAVIGATION */

.naviContainer{
    width: 100vw;
    height: 55px;
    display: flex;
}
.naviContainer:after{
    content: "";
      position: absolute;
      background-color: blue;
      border-radius: 0 0 50% 50%;
      top: 0;
      height: 80vh;
      width: 100vw;
      opacity: 0.08;
      }
.naviMenu{
    height: 100px;
    width: 100px;
    position: fixed;
    top: -50px;
    right: -50px;
    background-color:  rgb(96, 96, 235);
    border-radius: 50%;
    padding-top: 53px;
    padding-left: 15px;
    z-index: 2;
}
.scrollUp{
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: -50px;
    right: -50px;
    background-color:  rgb(96, 96, 235);
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 11px;
    z-index: 2;
    animation-name: showScroll;
    animation-duration: 0.5s;
    cursor: pointer;
}
.arrowUp{
    height: 5px;
    width: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 16px 0 0 12px;
    transform: rotate(-135deg);
}
.hidden{
    animation-name: hiddenScroll;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}
.naviActive{
    display: flex;
    width: 100vw;
    height: 55px;
    background-color:  rgb(96, 96, 235);
    border-radius: 5px 0 0 60px;
    position: fixed;
    z-index: 1;
    animation: 0.45s naviMenu both;
}
.navi{
    animation-duration: 1s;
    animation-name: hideNaviMenu;
    display: flex;
    width: 100vw;
    height: 55px;
    background-color:  rgb(96, 96, 235);
    border-radius: 5px 0 0 60px;
    position: fixed;
    z-index: 1;
    transform: scale(0);
    animation-duration: 0.5s;
}
.naviIcon{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: pointer;
    color: whitesmoke;
    transition: 0.8s;    
}


/* LANGUGAGE SELECTION */

.languagewrapper{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    animation: 0.5s showNaviItems  0.5s both
}
.language{
    padding: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    color: whitesmoke;
}
.language:hover{
cursor: pointer;
color: black;
} 
.selected{
    padding: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
}

/* LIST IN NAVIGATION */

.listwrapper{
width: 100%;
display: flex;
list-style: none;
animation: 0.3s showNaviItems  0.5s both;
justify-content: center;
align-items: center;
margin-right: 9%;
}
.oneElement{
font-size: 18px;
padding: 10px;
letter-spacing: 1px;
color: whitesmoke;
text-transform: uppercase;
}
.oneElement:hover{
color: black;
cursor: pointer;
}
}
@media(max-width: 1023px){
/* NAVIGATION */

.naviContainer{
    width: 100vw;
    display: flex;
}
.naviContainer:after{
    content: "";
      position: absolute;
      background-color: blue;
      border-radius: 0 0 50% 50%;
      top: 0px;
      height: 80vh;
      width: 100vw;
      opacity: 0.07;
      }
.naviMenu{
    height: 100px;
    width: 100px;
    position: fixed;
    top: -50px;
    right: -50px;
    background-color:  rgb(96, 96, 235);
    border-radius: 50%;
    padding-top: 58px;
    padding-left: 18px;
    z-index: 3;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.naviActive{
    display: block;
    width: 100vw;
    height: 100vh;
    background-color:  rgb(96, 96, 235);
    position: fixed;
    z-index: 2;
    animation: 0.3s naviMenuMobile;
}
.naviIcon{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: pointer;
    color: whitesmoke;
    transition: 0.8s;    
    z-index: 3;
}
.scrollUp{
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: -50px;
    right: -50px;
    background-color:  rgb(96, 96, 235);
    border-radius: 50%;
    padding-top: 20px;
    padding-left: 20px;
    z-index:    2;
    animation: 0.3s showScrollMobile both;
}

.arrowUp{
    height: 5px;
    width: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 8px 0 0 3px;
    transform: rotate(-135deg);
}

.navi{
    animation: 0.2s hideNaviMenuMobile linear both;
    background-color:  rgb(96, 96, 235);
    border-radius: 5px 0 0 60px;
    position: fixed;
    z-index: 1;
}

.hidden{
    animation-name: hiddenScrollMobile;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}


/* LANGUGAGE SELECTION */

.languagewrapper{
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    display: flex;
    animation: 0.5s showNaviItems  0.3s both
}
.language{
    padding: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    color: whitesmoke;
  
}
.language:hover{
    color: black;
    cursor: pointer;
}
.selected{
    padding: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;

}

/* LIST IN NAVIGATION */

.listwrapper{
display: block;
list-style: none;
margin-top: 10px;
animation: 0.5s showNaviItems  0.3s both
}

.oneElement{
font-size: 18px;
padding: 10px;
letter-spacing: 1px;
color: whitesmoke;
justify-content: center;
display: flex;
margin-top: 5vh;
text-transform: uppercase;
}

.oneElement:hover{
transition: 0.7s;
color: black;
cursor: pointer;
}
}

@keyframes naviMenu{
from {left: 100vw}
to {left:0}
}
@keyframes hideNaviMenu{
    from {left: 0; transform: scale(1);}
    to {left:100vw; transform: scale(1);}
    }
@keyframes hideNaviMenuMobile{
    0% {width:100vw; height: 100vh; left:0; border-radius: 0 0 0 100%;}
    100% {width: 0; height:20px; left: 100vw;}
    }
@keyframes naviMenuMobile{
    0% {width: 50px; height:50px; border-radius: 100%  0  0 100% ; left: 100vw}
    100% {width:100vw; height: 100vh; left:0}
}
@keyframes showScrollMobile{
    from {right: -75px; bottom: -75px; }
    to {right:-37.5; bottom: -37.5; }
    }
@keyframes showScroll{
    from {right: -150px; bottom: -150px; }
    to {right:-75; bottom: -75; }
}
@keyframes hiddenScrollMobile{
    to{right: -100px; bottom: -100px;  }
}
@keyframes hiddenScroll{
    to{right: -150px; bottom: -150px; }
}
@keyframes showNaviItems{
   from {opacity: 0;}
   to{opacity:1;}
}